{% extends "base.html" %}
{% block title %}Жанры{% endblock  %}
{% block content %}
<h1 class="main-header">Жанры</h1>
<div class="genres-container">
    {% for genre in genres %}
    <div class="genre-block">
            <div class="genre-illustration">
                <a href="{{ genre.get_absolute_url }}">
                    <img  class="genre-illustration-img" src="{% if genre.image %}{{ genre.image.url }}{% endif %}">
                </a>
            </div>
        
        <div class="genre-name">
            <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
        </div>
</div>
    {% endfor %}
</div>
{% endblock  %}