<div class="pagination">
    <span class="step-link">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number}}"><i class="fa-solid fa-angle-left"></i></a>
        {%endif%}
        <span class="current">
            Страница <b>{{ page.number }}</b> из <b>{{ page.paginator.num_pages }}</b>
        </span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number}}"><i class="fa-solid fa-angle-right"></i></a>
        {% endif %}
    </span>
</div>