{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
 <h1 class="main-header">Сброс пароля</h1>
 {% if validlink %}
 <p class='extra-text'>Пожалуйста, дважды введите новый пароль:</p>
 <form method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input class='btn' type="submit" value="Change my password" /></p>
 </form>
 {% else %}
 <p class='extra-text'>Ссылка для сброса пароля недействительна, возможно, потому, что она уже была былa использованa. Пожалуйста, запросите сброс нового пароля.</p>
 {% endif %}
{% endblock %}