{% extends "base.html" %}
{% block title %}Отзывы о книге {{ book.title }}{% endblock title %}

{% block content %}
<div class="book-detail-container">
    {% for review in reviews %}
    <div class="post-container">
        <div class="post-author">
            <div class="post-athor-details">
                <div class="post-author-img">
                    <a href="">
                        <img  id="author_avatar" src="{% if review.author.photo %}{{ review.author.photo.url }}{% endif %}" >
                    </a>
                </div>
                <div class="post-author-name"><a href="">{{review.author.username }}</a></div>
            </div>
            <div class="post-created">Опубликовано: {{ review.created }}</div>
        </div>
        
            <div class="post-title-rating">
                <div class="post-book-rating book-rating">
                    <i class="fa-regular fa-star"></i>
                    <div>
                        {{ book.averageReview }}
                    </div>
                </div>
            </div>
            <h3 class="post-title">{{ review.title }}</h3>
            <div class="post-body">
                <p>{{ review.review}}</p>
            </div>
        </div>

        {% empty %}
        <p>На эту книгу пока нет рецензий.</p>
    </div>
    {% endfor %}
</div>
        {% include "book/includes/pagination.html" with page=reviews %}
{% endblock  %}